{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

    <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-primary border-radius-lg ">
              <div class="d-flex align-items-center justify-content-between px-3">
                <h6 class="text-white text-capitalize mb-0">Student List</h6>
                <div class="d-flex gap-3 mt-3">
                  <!-- Export Button -->
                  <a href="{{ url_for('home_blueprint.export_attendance') }}" class="btn bg-gray-100" download>
                    Export
                  </a>
                  <!-- Start Button -->
                  <button class="btn bg-gray-100" data-bs-toggle="modal" data-bs-target="#videoModal">
                    Start
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div style="overflow-x: auto; padding: 0; max-width: 100%;">
              <table style="width: 100%; border-collapse: collapse;" class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center" style="width: 50px;">No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-start" style="white-space: nowrap;">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-start" style="white-space: nowrap;">Email</th>
                    {% for session in columns if session not in ['Name', 'Email'] %}
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center position-relative" style="min-width: 120px; max-width: 140px;">
                        <div style="white-space: normal; word-break: break-word; display: inline-block;">
                          {{ session.replace('\n', '<br>') | safe }}
                        </div>
                        <button
                          class="btn btn-sm btn-link text-danger position-absolute top-0 end-0"
                          onclick="deleteSession(`{{ session.strip() }}`)"
                          title="Delete this session"
                        >
                          ✖
                        </button>
                      </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in data %}
                    <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-start" style="white-space: nowrap;">{{ row['Name'] }}</td>
                      <td class="text-start" style="white-space: nowrap;">{{ row['Email'] }}</td>
                      {% for session in columns if session not in ['Name', 'Email'] %}
                        <td class="text-center align-items-center">
                          <select class="attendance-select form-control text-center"
                                  data-student-id="{{ row['student_id'] }}"
                                  data-session="{{ session }}">
                            <option value="0" {% if row[session] == '0' %}selected{% endif %}>0</option>
                            <option value="1" {% if row[session] == '1' %}selected{% endif %}>1</option>
                            <option value="P" {% if row[session] == 'P' %}selected{% endif %}>P</option>
                          </select>
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <a class="btn bg-white" href="/export_attendance" download>
        Reset List
      </a>
    </div>
    <!-- Modal for Video Feed -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header px-4">
            <h5 class="modal-title" id="videoModalLabel">Class Attendance</h5>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div style="position: relative;">
            <video id="video" autoplay playsinline style="width: 100%; height: auto;"></video>
            <!-- One canvas for drawing bounding boxes -->
            <canvas id="overlayCanvas" style="position: absolute; top: 0; left: 0; pointer-events: none;"></canvas>
            <!-- Hidden canvas for capturing frames -->
            <canvas id="captureCanvas" style="display: none;"></canvas>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <button id="startDetection" class="btn btn-info" onclick="startDetection()">Start Detection</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Toast Container -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1055">
      <div id="attendanceToast" class="toast bg-gradient-success text-secondary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="d-flex">
          <div class="toast-body text-center text-white text-capitalize">
            Updated successfully!
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
</div>

{% endblock content %}

{% block javascripts %}
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>
    const video = document.getElementById("video");
    const overlayCanvas = document.getElementById("overlayCanvas");
    const captureCanvas = document.getElementById("captureCanvas");
    const startDetectionButton = document.getElementById("startDetection");
    const videoModal = new bootstrap.Modal(document.getElementById('videoModal'));

    let isDetectionRunning = false;
    let videoStream = null;
    let detectionInterval = null;
    const confirmedSet = new Set();

    document.getElementById('videoModal').addEventListener('shown.bs.modal', function () {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
          video.srcObject = stream;
          videoStream = stream;
        }).catch(err => {
          console.error("Webcam access denied:", err);
          alert("Please allow webcam access.");
        });
    });

    document.getElementById('videoModal').addEventListener('hidden.bs.modal', function () {
      if (videoStream) {
        const tracks = videoStream.getTracks();
        tracks.forEach(track => track.stop());
      }
      video.srcObject = null;
      clearInterval(detectionInterval);
    });

    video.addEventListener("loadedmetadata", () => {
      const width = video.videoWidth;
      const height = video.videoHeight;

      overlayCanvas.width = width;
      overlayCanvas.height = height;
      captureCanvas.width = width;
      captureCanvas.height = height;
    });

    function startDetection() {
      if (isDetectionRunning) {
        isDetectionRunning = false;
        startDetectionButton.innerHTML = "Start Detection";

        const videoModalInstance = bootstrap.Modal.getInstance(document.getElementById('videoModal'));
        videoModalInstance.hide();

        location.reload();

        return;
      }

      isDetectionRunning = true;
      startDetectionButton.innerHTML = "Stop Detection";

      startSession();
      detectionInterval = setInterval(() => {
        captureAndDetect();
      }, 100);
    }

    function startSession(){
      fetch('/start_session', {
        method: 'POST'
      })
      .then(res => res.json())
      .then(data => {})
    }

    function captureAndDetect() {
      const width = video.videoWidth;
      const height = video.videoHeight;

      const captureCtx = captureCanvas.getContext("2d");
      captureCtx.drawImage(video, 0, 0, width, height);

      captureCanvas.toBlob(blob => {
        const formData = new FormData();
        formData.append('image', blob, 'frame.jpg');

        fetch('/process_frame', {
          method: 'POST',
          body: formData
        })
        .then(res => res.json())
        .then(data => {
          const overlayCtx = overlayCanvas.getContext("2d");
          overlayCtx.clearRect(0, 0, width, height);

          if (data.confirmed) {
            data.confirmed.forEach(name => confirmedSet.add(name));
          }

          if (data.detected && data.detected.length > 0) {
            const videoWidth = video.offsetWidth;
            const videoHeight = video.offsetHeight;

            data.detected.forEach(face => {
              const { x, y, width, height, name, conf } = face;

              const scaledX = (x / video.videoWidth) * videoWidth;
              const scaledY = (y / video.videoHeight) * videoHeight;
              const scaledWidth = (width / video.videoWidth) * videoWidth;
              const scaledHeight = (height / video.videoHeight) * videoHeight;

              overlayCtx.beginPath();
              overlayCtx.rect(scaledX, scaledY, scaledWidth, scaledHeight);
              overlayCtx.lineWidth = 2;
              overlayCtx.strokeStyle = "lime";
              overlayCtx.stroke();

              overlayCtx.fillStyle = "lime";
              overlayCtx.font = "16px Arial";
              overlayCtx.textBaseline = "top";

              const label = `${name} ${conf.toFixed(2)}`;
              overlayCtx.fillStyle = "lime";
              overlayCtx.font = "16px Arial";
              overlayCtx.fillText(label, scaledX + 5, scaledY - 20);

              if (confirmedSet.has(name)) {
                const recordedText = "✅";
                overlayCtx.font = "bold 14px Arial";
                const recordedWidth = overlayCtx.measureText(recordedText).width;

                overlayCtx.fillStyle = "lime";
                overlayCtx.fillText(recordedText, scaledX + scaledWidth - recordedWidth - 5, scaledY - 20);
              }
            })
          }
        });
      }, 'image/jpeg');
    }
  </script>

  <script>
    function autoDownloadAttendance() {
      window.location.href = "/export_attendance";
    }
  </script>

  <script>
    document.querySelectorAll('.attendance-select').forEach(select => {
      select.addEventListener('change', () => {
        const studentId = select.dataset.studentId;
        const session = select.dataset.session;
        const value = select.value;

        console.log(`[DEBUG] Auto-saving:`, { studentId, session, value });
    
        fetch('/update_attendance', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            updates: [
              {
                student_id: studentId,
                session_name: session,
                status: value
              }
            ]
          })
        })
        .then(res => res.json())
        .then(data => {
          console.log(`[DEBUG] Response:`, data);
  
          // Toast msg
          const toastEl = document.getElementById('attendanceToast');
          const toast = new bootstrap.Toast(toastEl);
          toast.show();
        })
        .catch(err => {
          console.error('Auto-update failed:', err);
          alert('Failed to save attendance change.');
        });
      });
    });
  </script>

  <script>
    function deleteSession(sessionName) {
      if (!confirm(`Are you sure you want to delete ${sessionName}? This cannot be undone.`)) return;
    
      fetch('/delete_session', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ session: sessionName })
      })
      .then(res => res.json())
      .then(data => {
        if (data.success) {
          const toastEl = document.getElementById('attendanceToast');
          toastEl.querySelector('.toast-body').innerText = `Deleted successfully`;
    
          const toast = new bootstrap.Toast(toastEl);
          toast.show();
    
          setTimeout(() => location.reload(), 1000);
        } else {
          alert(data.message || 'Failed to delete session.');
        }
      })
      .catch(err => {
        console.error(err);
        alert('Error deleting session.');
      });
    }    
  </script>
    
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [50, 20, 10, 22, 50, 10, 40],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}

{% block stylesheets %}
  <style>

  .btn-close-black {
    filter: invert(1);
  }

  .attendance-select {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-align-last: center; 
    width: 60px;
  }
  </style>
{% endblock stylesheets %}
